<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
        function findPassword() {
            var username = $("#username").val();
            $.post("/studentController/toFindPassword",{username:username},function (data) {
                if(data == "1"){
                    alert("邮件已发送,请点击邮件中的链接重置密码!");
                }else if(data == "0"){
                    alert("该用户不存在,请重新输入!");
                }
            })
        }

    </script>
</head>
<body>
    请输入你需要找回的账号:<input type="text" name="username" id="username"><br>
    <input type="button" value="提交" onclick="findPassword()">
    <a href='localhost:8080/studentController/toResetPassword?username='></a>
</body>
</html>