<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
        function resetPassword() {
            var password = $("#password").val();
            var username = $("#username").val()
            $.post("/studentController/resetPassword",{username:username,password:password},function (data) {
                if(data == "1"){
                    alert("重置成功!")
                }else if(data == "0"){
                    alert("重置失败!")
                }
            })
        }
    </script>
</head>
<body>
<input type="hidden" id="username" th:value="${username}">
请输入新密码:<input type="text" name="password" id="password"><br>
请确认密码:<input type="text" name="rePassword" id="rePassword"><br>
<input type="button" value="重置" onclick="resetPassword()"><br>
</body>
</html>
